<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fingo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B4E537C1E83733F00D74ED4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B4E53901E83733F00D74ED4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B4E539B1E83733F00D74ED4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
