<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>995864237793-sid4cea8pns042u8cimhk7a28h1908i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995864237793-sid4cea8pns042u8cimhk7a28h1908i3</string>
	<key>API_KEY</key>
	<string>AIzaSyDUCS9Ym3Tkwjtvu83SljtEjgJb00r3jMk</string>
	<key>GCM_SENDER_ID</key>
	<string>995864237793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robel.GamOn</string>
	<key>PROJECT_ID</key>
	<string>gamon-95953</string>
	<key>STORAGE_BUCKET</key>
	<string>gamon-95953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995864237793:ios:a51058247aec4c03</string>
	<key>DATABASE_URL</key>
	<string>https://gamon-95953.firebaseio.com</string>
</dict>
</plist>